@font-face {
    src: url(/fonts/Maxeville\ Bold.otf);
    font-family: Maxeville-Bold;
}

@font-face {
    src: url(/fonts/Maxeville\ Regular.otf);
    font-family: Maxeville-Regular;
}

@font-face {
    src: url(/fonts/Maxeville\ Regular\ Italic.otf);
    font-family: Maxeville-Italic;
}

@font-face {
    src: url(/fonts/Rhymes-RegularDisplay.otf);
    font-family: Rhymes-Regular;
}

body {
    margin: 0;
    height: 100vh;
    cursor: url('./images/cursor_PNG102-ORANGE-2.png'), auto;
}

.thevideo {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    visibility: hidden;
}

.quotes {
    position: absolute;
    z-index: -2;
    color: #d3401e;
    opacity: 1;
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Rhymes-Regular;
    padding: 0;
    display: none;
}

.video2 {
    background-image: url("/images/Soon_Logo_Homepage_Black_60.png");
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 250px;
    margin-top: 270px;
    margin-left: 25px;
    padding: 0;
  }

.video2:hover{
    background-image: url("/images/Soon_Logo_Homepage_White_60.png");
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 250px;
  }

@media only screen and (max-width: 600px) {
.video2 {
    background-image: url("/images/Soon_Logo_Homepage_Black_25.png");
    background-repeat: no-repeat;
    height: 330px;
    width: 600px;
    margin-bottom: 50px;
    margin-top: 250px;
    margin-left: 25px;
    opacity: 1;
    }

.video2:hover{
    background-image: url("/images/Soon_Logo_Homepage_White_25.png");
    background-repeat: no-repeat;
    height: 330px;
    width: 600px;
    overflow: hidden;
    margin-bottom: 50px;
    opacity: 1;
    }
}

.logo-2 {
    text-align: left;
    font-family: Maxeville-Regular;
    margin-left: 50px;
}

.logo-3 {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 50px;
    font-family: Rhymes-Regular;
}

a:link {
    color: black;
}

a:visited {
    color: orange;
}

a:hover {
    color: orange;
}

a:active {
    color: black;
}