.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
}
​
/* Use the "Sibling" selector since the video is now in the same row as the .logo and works with :hover */
.logo:hover ~ .video{
    opacity: 1;
}
​
#middle {
    margin-top: 18%;
}

