.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: -1;
    overflow: hidden;
}
.row {
    z-index: 1;
}
.row div p {
    font-size: 20px;
    text-align: center;
    color: black;
    margin-top: 50px;
    z-index: 1;
}
.row div h1 {
    font-size: 20px;
    text-align: left;
    color: black;
    margin-top: 5px;
    z-index: 1;
}
#middle {
    margin-top: 18%;

}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.logo:onMouseover .video-container{
    display: bloc;
}

.logo:onMouseover + .icon{
    color: black;
}