.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
}
​
/* Use the "Sibling" selector since the video is now in the same row as the .logo and works with :hover */

​
#middle {
    margin-top: ;
}

.video2 {
    background-image: url("/images/Soon_Logo_Homepage_Black.png");
    background-repeat: no-repeat;
    height: 330px;
    width: 600px;
    margin-bottom: 50px;
    margin-top: 250px;
    opacity: 1;
  }
.video2:hover{
    background-image: url("/images/Soon_Logo_Homepage_White.png");
    background-repeat: no-repeat;
    height: 330px;
    width: 600px;
    margin-bottom: 50px;
    opacity: 1;
  }
  .thevideo {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }

  .logo-2 {
      text-align: left;
      margin-top: 0px
  }

  .logo-3 {
      text-align: right;
  }